<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="format-detection" content="telephone=no" />
    </head>
    <body>
        <noscript>
            <p>You have disabled JavaScript! Please enable JavaScript in order to be able to use this site!</p>
        </noscript>
        <div id="app"></div>
    </body>
</html>
